body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

.mmm{
    width: 500px;
    margin: auto;
}
blockquote{
    margin-left: 0pt;
    text-align: center;
    border-style: solid;
    border-color: white;
}